<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <title></title>
  </head>
  <body>

    <div id="navbar">
      <div class="image">
        <a href="/users"><img src="http://i.imgur.com/ev8Nc1R.png"></img></a>
      </div>
    <div class="links">
      <a href="/users">Log In</a>
      <a href="/spaces/list">Spaces</a>
      <a href='/users/me?id='req.session.object.id>My requests</a>
    </div>
    </div>
  </body>
</html>
