<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/" method="post">
      <label for="name">Name</label>
      <input type="text" name="name" placeholder="Name" id="name">
      <label for="username">Username</label>
      <input type="text" name="username" placeholder="Username" id="username">
      <label for="email">Email</label>
      <input type="text" name="email" placeholder="Email" id="email">
      <label for="password">Password</label>
      <input type="password" name="password" placeholder="Password" id="password">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
