<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id="signupform">
      <form action="/" method="post">
        <div class="namesignup">
          <label for="name">Name</label>
          <input type="text" name="name" placeholder="Name" id="name">
        </div>
        <div class="emailsignup"
          <label for="email">Email</label>
          <input type="text" name="email" placeholder="Email" id="email">
        </div>
        <div class="passwordsignup">
          <label for="password">Password</label>
          <input type="password" name="password" placeholder="Password" id="password">
        </div>
          <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
