body {
  padding: 50px;
  font-family: 'Muli', sans-serif;
  background: url('http://i.imgur.com/TPUH4tI.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  top: 1px;
  position: relative;
}

a:active {
  top: 2px;
  position: relative;
}

#navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity: 0.5;
  background-color: #353333;
}

#navbar div{
  display: inline-block;
  width: auto;
  max-width: 50%;
}

img {
  width: 100px;
}

#space-listing {
  border: 1px solid black;
  margin: 5px auto;
  width: 40%;
  margin-bottom: 20px;
  border-radius: 25px;
  border: 2px solid #0033ff;
  padding:10px;
  background-color: white;
}

#signupform {
  box-shadow: 10px 10px 5px #888888;
  margin: 20px auto;
  display: inline-block;
  width: auto;
  border-radius: 25px;
  border: 2px solid #0033ff;
  padding: 20px;
  background-color: white;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}
