extends ../layout
block content
  h1= title

  p Thanks for adding your property you mug!

  div(class='spaces')
   each val in spaces
      div(id='space-listing')
        div(id='space-name')= val.name
        div(id='space-description')= val.description
        div(id='space-price')= '£' + val.price +'.00 per night'
        a(href='/spaces/view?id=' + val.id) Request this space
