<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <form action="/spaces/new" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="space name" id="name">
    <label for="desciption">Description</label>
    <input type="text" name="description" placeholder="space description" id="description">
    <label for="price">Price Per Night</label>
    <input type="text" name="price" placeholder="price per night" id="price">
    <input type="submit" value="Submit">
  </form>
</body>
</html>
